@import "bootstrap/scss/bootstrap";

body {
    min-height: 100vh;
    background: #f4f7fb;
}

.card {
    border-radius: 0.9rem;
}

.table > :not(caption) > * > * {
    padding: 1rem;
}

#document-error:empty {
    display: none !important;
}
